DATABASE_URL="postgresql://user:password@host:5432/database?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://user:password@host:5432/database?sslmode=require"
OPENAI_API_KEY=""
OPENAI_MEAL_MODEL="gpt-4.1-mini"
OPENAI_FOOD_SEARCH_MODEL="gpt-4.1-mini"
OPENAI_FOOD_SEARCH_TIMEOUT_MS="2500"
FOOD_SEARCH_DEBUG="0"
OPENAI_FOOD_INTELLIGENCE_TIMEOUT_MS="4500"
USDA_FDC_API_KEY=""
FDC_API_KEY=""
NUTRITIONIX_APP_ID=""
NUTRITIONIX_API_KEY=""
FATSECRET_CLIENT_ID=""
FATSECRET_CLIENT_SECRET=""
FATSECRET_SCOPE="basic"
FATSECRET_REGION="US"
FATSECRET_ENABLED="true"
FATSECRET_TIMEOUT_MS="3500"
CALORIE_API_KEY=""
CALORIE_API_ENABLED="true"
CALORIE_API_TIMEOUT_MS="3500"
OPEN_FOOD_FACTS_ENABLED="true"
OPEN_FOOD_FACTS_CONTACT="https://github.com/TyCodes101/calorie-compass"
OPEN_FOOD_FACTS_TIMEOUT_MS="3000"
UPC_DATABASE_ENABLED="false"
UPC_DATABASE_API_KEY=""
UPC_DATABASE_TIMEOUT_MS="2500"
ALLOW_MOCK_MEAL_PARSER="false"
FOOD_PIPELINE_DEBUG="false"
